<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  name="loginForm" th:action="@{login}"method="post">
    <fieldset>
        <legend>PLEASE LOGIN :DD</legend>
        <div th:if="${param.error}" >
INVALID USERNAME OR PASSWORD !!!!
        </div>
<div th:if="${param.logout}">
YOU HAVE BEEN LOGGED OUT
</div>
<label for?="username">USERNAME</label>
<input type="text" name="username"/>
        <label for?="password">password</label>
        <input type="password" name="password"/>
<div>
    <button type="submit" class="btn">LOGIN</button>
</div>
    </fieldset>
</form>
</body>
</html>